{{>header}}<br><br><br><br>
<table class="table table-bordered">
	<thead>
    <tr>
      <th scope="col">Usuario</th>
      <th scope="col">Identidad</th>
      <th scope="col"></th>
    </tr>
</thead>
{{#each inscritos }}
<tbody>
    <tr>
      <td>{{this.nombre}}</td>
      <td>{{this.identidad}}</td>
      <td>
      	<button type="button" class="btn btn-success" data-toggle="modal" data-target='#{{this.identidad}}'>Mas información</button>
      </td>
    	<div class="modal fade" id='{{this.identidad}}' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			    <div class="modal-content">
			        <div class="modal-header">
			          <h5 class="modal-title" id="exampleModalLabel"><b>{{this.nombre}}</b></h5>
			          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			          </button>
			        </div>
			        <div class="modal-body">
			          <b><p>Identidad: <span>{{this.identidad}}</span></p></b>
			          <b><p>Correo: <span>{{this.correo}}</span></p></b>
			          <b><p>Telefono : <span>{{this.telefono}}</span></p></b>
			          <b><p>Rol : <span>{{this.rol}}</span></p></b>
			        </div>
			    	<div class="modal-footer">
			    		<form action="/dashboard/eliminar" method="post">
			    			<input type="hidden" name="idPer" value="{{this.identidad}}">
			    			<input type="hidden" name="idCur" value="{{this.cursoActual}}">
			    			<input type="submit" name="" value="Eliminar del curso" class="btn btn-danger">
			    		</form>
					</div>                          
		    	</div>
			</div>
		</div>
    </tr>
</tbody>
{{/each}}
<tr>
	<th colspan="2">Total inscritos:	{{totalInscritos}} </th>
	<td>
      	<button type="button" class="btn btn-danger" data-toggle="modal" data-target='#cerrar'>Cerrar disponibilidad</button>

      	<div class="modal fade" id='cerrar' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			    <div class="modal-content">
			        <div class="modal-header">
			          <h5 class="modal-title" id="exampleModalLabel"><b>Asignar docente</b></h5>
			          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			          </button>
			        </div>
			        <form action="/dashboard/cerrar" method="post">
			        <div class="modal-body">
			          <select id="doc" name="doc" class="form-control" >
			          	<option disabled="disabled">Asigne un docente</option>
			          	 {{#each profe}}
			          	 	<option value="{{this._id}}">{{this.nombre}}</option>
			          	 {{/each}}
			          </select>
			        </div>
			    	<div class="modal-footer">
           					<input type="hidden" name="ID" value="{{curso}}">
           					<input type="submit" class="btn btn-danger" value="Cerrar disponibilidad" ></input>
      				</form>
					</div>                          
		    	</div>
			</div>
		</div>
     </td>
{{>footer}}